/* You can add global styles to this file, and also import other style files */
@import "hamburger.css";

.bkgd-white {
    background-color: #ededeb;
}

.bkgd-blk {
    background-color: #000;
    color: #fff;
}

.bkgd {
    padding: 50px;
}

.main {
    margin-top: 120px;
    overflow-x: hidden;
}

.front {
    opacity: 0;
}

.in-view {
    transition: 0.7s ease all;
    opacity: 1;
}