.process-img {
    width: 968px;
    height: 645px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.process-desc {
    margin-bottom: 60px;
}

.text {
    padding: 150px 66px;
    line-height: 2em;
    min-height: 645px;
}