.works-page {
    overflow-x: hidden;
}

.works-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 1s;
    opacity: 0;
    float: left;

}

.ng-lazyloaded {
    opacity: 1;
}

.size-one  {
    width: 100%;
    height: 300px;

}
.size-two  {
    width: 70%;
    height: 500px;

}

.size-three {
    width: 30%;
    height: 500px;

}

.size-four {
    width: 40%;
    height: 900px;

}

.size-five {
    width: 60%;
    height: 450px;

}

.size-six {
    width: 60%;
    height: 450px;

}

.size-seven {
    width: 100%;
    height: 900px;

}
.size-eight {
    width: 50%;
    height: 500px;

}
.size-nine {
    width: 50%;
    height: 500px;

}