figure {
    width:300px; /*container-width*/
    overflow: hidden; /*hide bounds of image */
    margin:0; /*reset margin of figure tag*/
    float: left;
 }
 figure img{
    display:block; /*remove inline-block spaces*/  
 }

 figure img{
    /*add to other styles*/
    margin:0 -38.885%;
    width:177.777%;
 }