figure {
    max-width: 500px;
    height: 500px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 1s;
    opacity: 0;

}

figure.ng-lazyloaded {
    opacity: 1;
}

.size-one {
    max-width: 100%;
    height : 300px;
}

.size-two {
    max-width: 70%;
    height : 500px;
}

.size-three {
    max-width: 30%;
    height : 500px;
}