button {
    background: none;
    margin: 54px 50px 0px 50px;
    color: #ededeb;
    font-size: 1.5em;
    border: 2px solid #ededeb;
    padding: 10px 64px;
    cursor: pointer;
}

button:hover {
    transition: 0.5s ease all;
    background: black;
    border: 2px solid black;
}

#reel-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 0;
    padding: 56.25% 0 0 0;
    overflow: hidden;
    border: 0;
}

#reel-wrapper iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#reel-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(0deg,#000000 0,#383838);
    opacity: .5;
    z-index: 9;
}

#description {
    font-size: 2.7em;
    position: absolute;
    z-index: 99;
    color: #fff;
    bottom: 100px;
    max-width: 1140px;
    text-align: center;
}

.brand-defined {
    background: url(http://dev.etherealcreative.com/wp-content/uploads/2018/08/BARCLAY_MICA_EDITS-44.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    color: white;
}

.brand span:nth-child(1) {
    background: #f9f8f6;
    padding: 20px;
}

.brand span:nth-child(2) {
    background: #f2efeb;
    padding: 20px;

}

.brand span:nth-child(3) {
    background: #ece7e1;
    padding: 20px;

}

.brand span:nth-child(4) {
    
    background: #e5dfd7;
    padding: 20px;

}

.brand-defined .col-12 {   
    background: rgba(103, 83, 68, 0.4588235294117647);
    border: 2px solid white;
    padding: 55px 60px;

}

.work {
    background-image: url("http://dev.etherealcreative.com/wp-content/uploads/2018/07/Screen-Shot-2018-07-25-at-5.23.14-PM.png");
    background-attachment: fixed;
    min-height: 300px;
}

.icon {
    display: inline-block;
    color: black;
}

.icon img{
    width: 140px;
}




